<section id='make-post-panel' class='make-post-panel hide'>
  <link rel="stylesheet" href="/css/make-post.css">
  <h2>New Post</h2>
  <form class="" action="/newPost" method="post" enctype="multipart/form-data">
    <label for="">
      Title
      <input type="text" name="title" placeholder='title' value="">
    </label>
    <label for="">
      Image
      <input type="file" name="theImage" />

    </label>
    <label for="">
      Description
      <input type="text" name="body" value="">
    </label>
    <input id='submit-new-post' class='' type="submit" name="submit" value="submit">
  </form>
  <button id='close-make-panel' type="" name="button">NVM</button>
  <script type="text/javascript" src='../js/make-post.js'>

  </script>
</section>
